#chess-board {
  font-size: 60px;

  table {
    width: 700px;
    height: 700px;
    border-collapse: collapse;
    border: 1px solid black;
    tr:nth-child(even) td:nth-child(even),
    tr:nth-child(odd) td:nth-child(odd) {
      background: #b58763;
    }
    tr:nth-child(odd) td:nth-child(even),
    tr:nth-child(even) td:nth-child(odd) {
      background: #f0dab5;
    }

    td {
      text-align: center;
    }
  }

  .piece {
    position: relative;
    cursor: pointer;
    user-select: none;

    .loc {
      position: absolute;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
