#chess-board {
  table {
    // width: 700px;
    // height: 700px;
    border-collapse: collapse;
    border: 1px solid black;
    tr:nth-child(even) td:nth-child(even),
    tr:nth-child(odd) td:nth-child(odd) {
      background: #F0DEC7;
    }
    tr:nth-child(odd) td:nth-child(even),
    tr:nth-child(even) td:nth-child(odd) {
      background: #B5876B;
    }
  }

  .piece {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    width: 64px;
    height: 64px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;

    .loc {
      position: absolute;
      font-size: 14px;
      font-weight: bold;
    }

    img {
      width: 64px;
    }
  }
}
